<ion-header translucent>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>
<div class="sign-in-card">
  <ion-card style="text-align: center;">
    <ion-card-header>
      <ion-card-title>
        <h1> Sign In</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="signIn()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" [(ngModel)]="email" inputmode="email" autocomplete="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" [(ngModel)]="password" autocomplete="current-password" type="password"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" style="margin-top: 20px;" [disabled]="!email || !password">
          Sign In
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</div>