<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
    <ion-button (click)="getTemperature()" slot="end">Refresh</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="charts-collection">
    <ion-card id="chart1">
      <ion-card-header class="analytics-header">
        <ion-card-title>DHT22 Sensor Data</ion-card-title>
      </ion-card-header>
      <app-test-chart></app-test-chart>
      <ion-card-content class="analytics-content">
        <h1 class="analytics-content-header">Description</h1>
        <div style="margin-bottom: 20px;">This page will automatically show the changes you make to you test chart.
        </div>
        <div style="margin-bottom: 20px;">All you have to do is modify the <i>TestChartComponent</i> to display a chart
          of
          static data (like an array of numbers representing the temperature).
        </div>
        <div>To start, have a look at this and this.</div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>