<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
    <ion-button (click)="getTemperature()" slot="end">Refresh</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="charts-collection">
    <ion-card id="chart1">
      <ion-card-header class="analytics-header">
        <ion-card-title>Temperature</ion-card-title>
      </ion-card-header>
      <app-test-chart [data]="temperature"></app-test-chart>
      <ion-card-content class="analytics-content">
        <h1 class="analytics-content-header">Description</h1>
      </ion-card-content>
    </ion-card>
    <ion-card id="chart2">
      <ion-card-header class="analytics-header">
        <ion-card-title>% Humidity</ion-card-title>
      </ion-card-header>
      <app-test-chart [data]="humidity"></app-test-chart>
      <ion-card-content class="analytics-content">
        <h1 class="analytics-content-header">Description</h1>
      </ion-card-content>
    </ion-card>
    <ion-card id="chart3">
      <ion-card-header class="analytics-header">
        <ion-card-title>Moisture</ion-card-title>
      </ion-card-header>
      <app-test-chart></app-test-chart>
      <ion-card-content class="analytics-content">
        <h1 class="analytics-content-header">Description</h1>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>